<div id="quick_view" style="display: none;" class="product-details quick-view modal animated zoomInUp">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="d-table">
                    <div class="d-tablecell">
                        <div class="modal-dialog">
                            <div style="background-color: white;" class="main-view modal-content ">
                                <div onclick="quick_viewClose()" class="modal-footer" data-dismiss="modal">
                                    <span style="color: #fe5858; font-size: 20px;">x</span>
                                </div>

                                <div id="appendModal">


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
